".text.html":

  'News Card':
    'prefix': 'news-card'
    'body': """
    <article class="bg-white center mw5 ba b--black-10 mv4">
      <div class="pv2 ph3">
         <h1 class="f6 ttu tracked">$1</h1>
      </div>
      <img src="${2:http://lorempixel.com/400/200/animals/}" class="w-100 db" alt="$3">
      <div class="pa3">
        <a href="#" class="link dim lh-title">$4</a>
        <small class="gray db pv2">${5: AMP - <time>6 hours ago</time>}</small>
      </div>
    </article>
    """

  'Product Card':
    'prefix': 'product-card'
    'body': """
    <article class="br2 ba dark-gray b--black-10 mv4 w-100 w-50-m w-25-l mw5 center">
      <img src="${1:http://placekitten.com/g/600/300}" class="db w-100 br2 br--top" alt="$2">
      <div class="pa2 ph3-ns pb3-ns">
        <div class="dt w-100 mt1">
          <div class="dtc">
            <h1 class="f5 f4-ns mv0">${3:Cat}</h1>
          </div>
          <div class="dtc tr">
            <h2 class="f5 mv0">${4:$1000.00}</h2>
          </div>
        </div>
        <p class="f6 lh-copy measure mt2 mid-gray">
          $5
        </p>
      </div>
    </article>
    """

  'Profile Card Title Subtitle':
    'prefix': 'profile-card-title'
    'body': """
    <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
      <div class="tc">
        <img src="${1:http://placekitten.com/g/600/300}" class="br-100 h4 w4 dib ba b--black-05 pa2" title="${2:Kitty}">
        <h1 class="f3 mb2">${3:Title}</h1>
        <h2 class="f5 fw4 gray mt0">${4:Subtitle}</h2>
      </div>
    </article>
    """

  'Profile Card':
    'prefix': 'profile-card'
    'body': """
    <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
      <div class="tc">
        <img src="${1:http://placekitten.com/g/600/300}" class="br-100 h3 w3 dib" title="${2:Kitty}">
        <h1 class="f4">${3:Title}</h1>
        <hr class="mw3 bb bw1 b--black-10">
      </div>
      <p class="lh-copy measure center f6 black-70">
        $4
      </p>
    </article>
    """

  'Text Card':
    'prefix': 'text-card'
    'body': """
    <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
      <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3">$1</h1>
      <div class="pa3 bt b--black-10">
        <p class="f6 f5-ns lh-copy measure">
          $2
        </p>
      </div>
    </article>
    """

  'Large Title Text':
    'prefix': 'large-title-text'
    'body': """
    <article class="pa3 pa5-ns">
      <h1 class="f2 f-subheadline-ns mb4">$1</h1>
      <p class="gray f6 mb4 ttu tracked">$2</p>
      <p class="f4 f3-ns measure lh-copy">
        $3
      </p>
    </article>
    """

  'Left Title Top Border':
    'prefix': 'left-title-top'
    'body': """
    <article class="cf ph3 ph5-ns pv5">
      <header class="fn fl-ns w-50-ns pr4-ns">
        <h1 class="f2 lh-title fw9 mb3 mt0 pt3 bt bw2">
          $1
        </h1>
        <h2 class="f3 mid-gray lh-title">
          $2
        </h2>
        <time class="f6 ttu tracked gray">${3:Time ago}</time>
      </header>
      <div class="fn fl-ns w-50-ns">
        <p class="f5 lh-copy measure mt0-ns">
          $4
        </p>
      </div>
    </article>
    """

  'Left Title':
    'prefix': 'left-title'
    'body': """
    <article class="cf ph3 ph5-ns pv5">
      <header class="fn fl-ns w-50-ns pr4-ns">
        <h1 class="mb3 mt0 lh-title">$1</h1>
        <time class="f6 ttu tracked gray">${2:Time ago}</time>
      </header>
      <div class="fn fl-ns w-50-ns">
        <p class="lh-copy measure mt4 mt0-ns">
          $3
        </p>
      </div>
    </article>
    """

  'Title Text Image':
    'prefix': 'title-text-image'
    'body': """
    <article class="pa3 pa5-ns">
      <h1 class="f2">$1</h1>
      <img src="$2" class="w-100 f5 measure" alt="outer space">
      <p class="measure lh-copy">
        $3
      </p>
    </article>
    """

  'Title Text':
    'prefix': 'title-text'
    'body': """
    <article class="pa3 pa5-ns">
      <h1 class="">$1</h1>
      <p class="measure lh-copy">
        $2
      </p>
    </article>
    """

  'Simple Large Type':
    'prefix': 'simple-large-type'
    'body': """
    <footer class="ph3 ph4-ns pv6 bt b--black-10 black-70">
      <a href="mailto:$1" class="link b f3 f2-ns dim black-70 lh-solid">${2:hello@email.com}</a>
      <p class="f6 db b ttu lh-solid">${3:© 2016 COMPANY Inc.}</p>
      <div class="mt5">
        <a href="${4:/language/}" title="${5:Language}" class="f6 dib pr2 mid-gray dim">${6:Language}</a>
        <a href="${7:/terms/}"    title="${8:Terms}" class="f6 dib ph2 mid-gray dim">${9:Terms of Use}</a>
        <a href="${10:/privacy/}"  title="${11:Privacy}" class="f6 dib pl2 mid-gray dim">${12:Privacy}</a>
      </div>
    </footer>
    """

  'Simple Large Type':
    'prefix': 'simple-large-type'
    'body': """
    <footer class="ph3 ph4-ns pv6 bt b--black-10 black-70">
      <a href="mailto:$1" class="link b f3 f2-ns dim black-70 lh-solid">${2:hello@email.com}</a>
      <p class="f6 db b ttu lh-solid">${3:© 2016 COMPANY Inc.}</p>
      <div class="mt5">
        <a href="${4:/language/}" title="${5:Language}" class="f6 dib pr2 mid-gray dim">${6:Language}</a>
        <a href="${7:/terms/}"    title="${8:Terms}" class="f6 dib ph2 mid-gray dim">${9:Terms of Use}</a>
        <a href="${10:/privacy/}"  title="${11:Privacy}" class="f6 dib pl2 mid-gray dim">${12:Privacy}</a>
      </div>
    </footer>
    """

  'Small Print':
    'prefix': 'small-print'
    'body': """
    <footer class="pv4 ph3 ph5-m ph6-l mid-gray">
      <small class="f6 db tc">${1:© 2016 <b class="ttu">SOME COMPANY Inc</b>., All Rights Reserved}</small>
      <div class="tc mt3">
        <a href="${2:/language/}" title="${3:Language}" class="f6 dib ph2 link mid-gray dim">${4:Language}</a>
        <a href="${5:/terms/}"    title="${6:Terms}" class="f6 dib ph2 link mid-gray dim">${7:Terms of Use}</a>
        <a href="${8:/privacy/}"  title="${9:Privacy}" class="f6 dib ph2 link mid-gray dim">${10:Privacy}</a>
      </div>
    </footer>
    """

  'Social Circles':
    'prefix': 'social-circles'
    'body': """
    <footer class="pv4 ph3 ph5-ns tc">
      <a class="link dim gray dib h2 w2 br-100 mr3 pa2 bg-near-white ba b--black-10" href="$1" title="">
        <svg data-icon="facebook" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>facebook icon</title>
          <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z"></path>
        </svg>
      </a>
      <a class="link dim gray dib h2 w2 br-100 mr3 pa2 bg-near-white ba b--black-10" href="$2" title="">
        <svg data-icon="twitter" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>twitter icon</title>
          <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"></path>
        </svg>
      </a>
      <a class="link dim gray dib br-100 h2 w2 mr3 pa2 bg-near-white ba b--black-10" href="$3" title="">
        <svg data-icon="github" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>github icon</title>
          <path d="M0 18 C0 12 3 10 3 9 C2.5 7 2.5 4 3 3 C6 3 9 5 10 6 C12 5 14 5 16 5 C18 5 20 5 22 6 C23 5 26 3 29 3 C29.5 4 29.5 7 29 9 C29 10 32 12 32 18 C32 25 30 30 16 30 C2 30 0 25 0 18 M3 20 C3 24 4 28 16 28 C28 28 29 24 29 20 C29 16 28 14 16 14 C4 14 3 16 3 20 M8 21 A1.5 2.5 0 0 0 13 21 A1.5 2.5 0 0 0 8 21 M24 21 A1.5 2.5 0 0 0 19 21 A1.5 2.5 0 0 0 24 21 z"></path>
        </svg>
      </a>
      <a class="link dim gray dib br-100 h2 w2 mr3 pa2 bg-near-white ba b--black-10" href="$4" title="">
        <svg data-icon="dribbble" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>dribbble icon</title>
          <path d="M16 0 A16 16 0 0 0 0 16 A16 16 0 0 0 16 32 A16 16 0 0 0 32 16 A16 16 0 0 0 16 0 M5 11.5 A12 12 0 0 1 11 5 A46 46 0 0 1 13.5 9.25 A46 46 0 0 1 5 11.5 M15 4 A12 12 0 0 1 21.5 5.25 A46 46 0 0 1 17 7.75 A50 50 0 0 0 15 4 M4 16 A50 50 0 0 0 15 13 A46 46 0 0 1 16 15.5 A26 26 0 0 0 6 22.5 A12 12 0 0 1 4 16 M18.5 11.5 A50 50 0 0 0 25 8 A12 12 0 0 1 28 13.75 A26 26 0 0 0 19.75 14.5 A50 50 0 0 0 18.5 11.5 M17 19.5 A46 46 0 0 1 18 28 A12 12 0 0 1 8.75 25.5 A22 22 0 0 1 17 19.5 M20.75 18.25 A22 22 0 0 1 28 17.75 A12 12 0 0 1 22 26.5 A50 50 0 0 0 20.75 18.25"></path>
        </svg>
      </a>
    </footer>
    """

  'Social Text':
    'prefix': 'social-text'
    'body': """
    <footer class="pv4 ph3 ph5-ns tc">
      <a class="link dim gray dib h2 w3 br-100 mr3 " href="$1" title="">
        <svg class="w2" data-icon="facebook" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>facebook icon</title>
          <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z"></path>
        </svg>
        <small class="db tc">Facebook</small>
      </a>
      <a class="link dim gray dib h2 w3 br-100 mr3 " href="$2" title="">
        <svg class="w2" data-icon="twitter" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>twitter icon</title>
          <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"></path>
        </svg>
        <small class="db tc">Twitter</small>
      </a>
      <a class="link dim gray dib br-100 h2 w3 mr3 " href="$3" title="">
        <svg class="w2" data-icon="github" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>github icon</title>
          <path d="M0 18 C0 12 3 10 3 9 C2.5 7 2.5 4 3 3 C6 3 9 5 10 6 C12 5 14 5 16 5 C18 5 20 5 22 6 C23 5 26 3 29 3 C29.5 4 29.5 7 29 9 C29 10 32 12 32 18 C32 25 30 30 16 30 C2 30 0 25 0 18 M3 20 C3 24 4 28 16 28 C28 28 29 24 29 20 C29 16 28 14 16 14 C4 14 3 16 3 20 M8 21 A1.5 2.5 0 0 0 13 21 A1.5 2.5 0 0 0 8 21 M24 21 A1.5 2.5 0 0 0 19 21 A1.5 2.5 0 0 0 24 21 z"></path>
        </svg>
        <small class="db tc">GitHub</small>
      </a>
      <a class="link dim gray dib br-100 h2 w3 mr3 " href="$4" title="">
        <svg class="w2" data-icon="dribbble" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>dribbble icon</title>
          <path d="M16 0 A16 16 0 0 0 0 16 A16 16 0 0 0 16 32 A16 16 0 0 0 32 16 A16 16 0 0 0 16 0 M5 11.5 A12 12 0 0 1 11 5 A46 46 0 0 1 13.5 9.25 A46 46 0 0 1 5 11.5 M15 4 A12 12 0 0 1 21.5 5.25 A46 46 0 0 1 17 7.75 A50 50 0 0 0 15 4 M4 16 A50 50 0 0 0 15 13 A46 46 0 0 1 16 15.5 A26 26 0 0 0 6 22.5 A12 12 0 0 1 4 16 M18.5 11.5 A50 50 0 0 0 25 8 A12 12 0 0 1 28 13.75 A26 26 0 0 0 19.75 14.5 A50 50 0 0 0 18.5 11.5 M17 19.5 A46 46 0 0 1 18 28 A12 12 0 0 1 8.75 25.5 A22 22 0 0 1 17 19.5 M20.75 18.25 A22 22 0 0 1 28 17.75 A12 12 0 0 1 22 26.5 A50 50 0 0 0 20.75 18.25"></path>
        </svg>
          <small class="db tc">Dribbble</small>
      </a>
    </footer>
    """

  'Social':
    'prefix': 'social'
    'body': """
    <footer class="pv4 ph3 ph5-ns tc">
      <a class="link dim gray dib h2 w2 br-100 mr3 " href="$1" title="">
        <svg data-icon="facebook" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>facebook icon</title>
          <path d="M8 12 L13 12 L13 8 C13 2 17 1 24 2 L24 7 C20 7 19 7 19 10 L19 12 L24 12 L23 18 L19 18 L19 30 L13 30 L13 18 L8 18 z"></path>
        </svg>
      </a>
      <a class="link dim gray dib h2 w2 br-100 mr3 " href="$2" title="">
        <svg data-icon="twitter" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>twitter icon</title>
          <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"></path>
        </svg>
      </a>
      <a class="link dim gray dib br-100 h2 w2 mr3 " href="$3" title="">
        <svg data-icon="github" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>github icon</title>
          <path d="M0 18 C0 12 3 10 3 9 C2.5 7 2.5 4 3 3 C6 3 9 5 10 6 C12 5 14 5 16 5 C18 5 20 5 22 6 C23 5 26 3 29 3 C29.5 4 29.5 7 29 9 C29 10 32 12 32 18 C32 25 30 30 16 30 C2 30 0 25 0 18 M3 20 C3 24 4 28 16 28 C28 28 29 24 29 20 C29 16 28 14 16 14 C4 14 3 16 3 20 M8 21 A1.5 2.5 0 0 0 13 21 A1.5 2.5 0 0 0 8 21 M24 21 A1.5 2.5 0 0 0 19 21 A1.5 2.5 0 0 0 24 21 z"></path>
        </svg>
      </a>
      <a class="link dim gray dib br-100 h2 w2 mr3 " href="$4" title="">
        <svg data-icon="dribbble" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>dribbble icon</title>
          <path d="M16 0 A16 16 0 0 0 0 16 A16 16 0 0 0 16 32 A16 16 0 0 0 32 16 A16 16 0 0 0 16 0 M5 11.5 A12 12 0 0 1 11 5 A46 46 0 0 1 13.5 9.25 A46 46 0 0 1 5 11.5 M15 4 A12 12 0 0 1 21.5 5.25 A46 46 0 0 1 17 7.75 A50 50 0 0 0 15 4 M4 16 A50 50 0 0 0 15 13 A46 46 0 0 1 16 15.5 A26 26 0 0 0 6 22.5 A12 12 0 0 1 4 16 M18.5 11.5 A50 50 0 0 0 25 8 A12 12 0 0 1 28 13.75 A26 26 0 0 0 19.75 14.5 A50 50 0 0 0 18.5 11.5 M17 19.5 A46 46 0 0 1 18 28 A12 12 0 0 1 8.75 25.5 A22 22 0 0 1 17 19.5 M20.75 18.25 A22 22 0 0 1 28 17.75 A12 12 0 0 1 22 26.5 A50 50 0 0 0 20.75 18.25"></path>
        </svg>
      </a>
      <div class="mt4">
        <a href="$5" class="f6 link dim gray dib mr3 mr4-ns">${6:Help}</a>
        <a href="$7" class="f6 link dim gray dib mr3 mr4-ns">${8:Send feedback}</a>
        <a href="$9" class="f6 link dim gray dib mr3 mr4-ns">${10:Privacy}</a>
        <a href="$11" class="f6 link dim gray dib">${12:Terms}</a>
      </div>
    </footer>
    """

  'Circle Avatar Title':
    'prefix': 'circle-avatar-title'
    'body': """
    <header class="tc pv4 pv5-ns">
      <img src="${1:http://www.fillmurray.com/200/200}" class="br-100 pa1 ba b--black-10 h3 w3" alt="avatar">
      <h1 class="f5 f4-ns fw6 mid-gray">${2:Bill Murray}</h1>
      <h2 class="f6 gray fw2 ttu tracked">${3:Charleston, SC}</h2>
    </header>
    """

  'Fixed Semi Transparent':
    'prefix': 'fixed-semi-transparent'
    'body': """
    <header class="bg-black-90 fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l">
      <nav class="f6 fw6 ttu tracked">
        <a class="link dim white dib mr3" href="#" title="$1">$2</a>
        <a class="link dim white dib mr3" href="#" title="$2">$3</a>
        <a class="link dim white dib mr3" href="#" title="$4">$5</a>
        <a class="link dim white dib" href="#" title="$6">$7</a>
      </nav>
    </header>
    """

  'Rounded Avatar Title Subtitle':
    'prefix': 'rounded-avatar-title'
    'body': """
    <header class="tc pv4 pv5-ns">
      <img src="${1:http://www.fillmurray.com/300/300}" class="br3 ba b--black-10 h3 w3" alt="avatar">
      <h1 class="f5 f4-ns fw6 black-70">${2:Jasper Whitehouse}</h1>
      <h2 class="f6 black-70 fw2 ttu tracked">${3:Charleston, SC}</h2>
    </header>
    """
